worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    upstream backend {
        server 192.168.85.142;
        server 192.168.85.143;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://backend;
        }
    }
}
